body {
  background-color:  white;
}
header {
	height:60px;
	background:#FFA07A;
	padding:0 50px;
}
.left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {
	width:550px;
  
}
h1 {
    width:500px;
    margin: 0 auto;
    background: white;
    text-align: center;
}
h2 {
	width:500px;
    margin: 0 auto;
    background: white;
    text-align: center;
}
h3, p {
	twidth:500px;
    margin: 0 auto;
    background: white;
    text-align: center;
}



.logo {
	width:30%;
	float:left;
	color:#000000;
	font-weight:bold;
	text-transform:uppercase;
	line-height: 60px;
	font-size: 35px;
	font-family: sans-serif;
}

nav {
	width:68%;
	float:right;
}

nav ul {
	list-style:none;
	float:right;
}
 nav ul  li {
	 display:inline-block;
 }
 
 nav ul li a{
	text-decoration: none;
	color:#000000;
	font-family:sans-serif;
	font-weight:bold;
	margin:0 10px;
	line-height: 60px;
	text-transform:uppercase;
 }
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: black;
}